@page
@model azure_app_sam.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment slots page";
}
<div class="text-center">
    <h1 class="display-4">Testing Deployment slots</h1>
    <h3>Validating the deployment slot feature</h3>
  
</div>
