@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Welcome to azure app services - Github Actions in Effects</h1>
    <h3>@ViewData["GreetingMessage"]</h3>
</div>
